<%- include('header')%>
<% const estaCreando = typeof sede === "undefined"%>
<% const existeMensaje = typeof mensaje !== "undefined"%>


<div class="container">
    <h1><%= estaCreando ? 'REGISTRAR':'ACTUALIZAR' %> SEDE</h1>
    <% if (existeMensaje){%>
    <p>MENSAJE: <%=mensaje%></p>
    <%}%>
    <form action="/sede/<%= estaCreando ? 'crear' : 'actualizar' %>-sede/<%= estaCreando ? '' : sede.idSedes %>" method="POST">
        <br>
        <div class="row">

            <div class="col-sm-6">
                <div>
                    <label class="col-form-label" for="ciudad">Ciudad</label>
                </div>
                <div>
                    <label class="col-form-label" for="callePrincipal">Calle Principal</label>
                </div>
                <div>
                    <label class="col-form-label" for="calleSecundaria">Calle Secundaria</label>
                </div>
                <div>
                    <label class="col-form-label" for="referencia">Referencia</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div>
                    <input class="form-control" type="text" name="ciudad" id="ciudad" value="<%= estaCreando ? '' : sede.ciudad%>">
                </div>
                <div>
                    <input class="form-control" type="text" name="callePrincipal" id="callePrincipal" value="<%= estaCreando ? '' : sede.callePrincipal%>">
                </div>
                <div>
                    <input class="form-control" type="text" name="calleSecundaria" id="calleSecundaria" value="<%= estaCreando ? '' : sede.calleSecundaria%>">
                </div>
                <div>
                    <input class="form-control" type="text" name="referencia" id="referencia" value="<%= estaCreando ? '' : sede.referencia%>">
                </div>
            </div>
        </div>
        <br>
        <div>
            <div class="row">
                <div class="col-sm-4">
                    <button class="btn btn-outline-success btn-block">
                        <%= estaCreando ? 'Crear' : 'Actualizar'%> sede
                    </button>
                </div>
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div>
                        <a href="/sede/inicio"><button class="btn btn-outline-dark btn-block">Regresar</button></a>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </form>
</div>
<br>
<br>

<%- include('librerias')%>
