<% const existeMensaje = typeof mensaje !== "undefined"%>
<%- include('header'); %>
<br><br><br>


<% if (existeMensaje){%>

    <div class="<%= clase %>" role="alert">
            <span class="font-weight-bold">
                MENSAJE:
            </span> : <%= mensaje %>
    </div>
<%}%>

<!-- ##########################AQUI TENEMOS LA PRIMERA DIVISION DEL CONTENEDOR########################### -->
<div class="row">
    <div class="col-lg-3 ">
        <div class="container-fluid ">
            <br>
            <h2 align="center"><%=usuario.nickname%></h2><br>
            <div class="row" >
                <div class="col-sm-12" align="center" >
                    <div class="card" style="width: 18rem;">
                        <img src="<%=usuario.fotoUsuario %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">
                            <div><%=usuario.nombreCompletoUsuario%></div>
                            <div><%=usuario.direccionUsuario%></div>
                            <div><%=usuario.telefonoUsuario%></div>
                            <div> <%=usuario.emailUsuario%></div>
                            </p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>








    <!-- ##########################AQUI TENEMOS LA SEGUNDA DIVISION DEL CONTENEDOR########################### -->

    <div class="col-lg-9">
        <div class="container-fluid ScrollableContainer ">
            <div class="row">
                <div class="col-lg-6" align="center">
                    <form action="/mascota/inicio" method="get">
                        <label for="busqueda">Búsqueda paciente</label>
                        <input id="busqueda" type="text" name="busqueda" class="form-group">
                        <button class="btn btn-outline-primary  espaciado-boton">Buscar</button>
                    </form>
                </div>

                <div class="col-lg-6" align="center">

                    <a href="/mascota/crear-mascota">
                        <button class="btn btn-outline-success  espaciado-boton">Ingresar una nueva mascota</button>
                    </a>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-12">
                    <h2 align="center">Mascotas en adopción</h2>
                </div>
            </div>

            <div class="row">
                <% arregloMascotas.forEach( (mascota)=> { %>
                <div class="col-lg-4">
                    <table class="table table-hover" content="center" >
                        <!-- tr -> table row -->
                        <tr>
                            <!-- th -> table header -->
                            <td height="250"><img width="80%" height="100%" src="<%=mascota.fotoMascota %>" alt=""></td>
                        </tr>
                        <tr>
                            <!-- th -> table header -->

                            <td><%=mascota.nombreMascota %></td>
                        </tr>
                        <tr>
                            <!-- th -> table header -->

                            <td><%=mascota.descripcionMascota%></td>
                        </tr>

                        <tr><td>
                                <div class="row">
                                    <div class="col-lg-4">

                                        <form action="/mascota/eliminar-mascota/<%= mascota.idMascota %>" method="POST">
                                            <button  class="btn btn-outline-danger btn-block espaciado-boton" type="submit"
                                                     type="submit"> Eliminar</button>
                                        </form>

                                    </div>

                                    <div class="col-lg-4">

                                        <a href="/mascota/actualizar-mascota/<%= mascota.idMascota %>">
                                            <button  class="btn btn-outline-secondary btn-block  espaciado-boton" type="submit">Actualizar</button>

                                        </a>

                                    </div>
                                    <div class="col-lg-4">


                                        <a href="/mascota/inicio/">
                                            <button  class="btn btn-outline-info btn-block  espaciado-boton" type="submit"> Ver Mascota</button>

                                        </a>

                                    </div>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
                <% }) %>
            </div>

        </div>

        <br>
        <br>
    </div>
</div>



<%- include('librerias')%>